<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7
        col-lg-7
        parte1">
            <h1>Portfolio Argentina Programa</h1>
            <p>Desarrollé una aplicación web full stack que mostraba mis datos personales, estudios cursados,
                experiencia laboral, conocimientos en tecnología y más. Creé mi propio portfolio web para compartir mi
                trayectoria profesional y destacar mis logros. Diseñé una interfaz atractiva y funcional, utilizando
                tecnologías de vanguardia y siguiendo las mejores prácticas de desarrollo web. Agregué secciones
                personalizadas para expresar mi personalidad y resaltar mis proyectos más destacados. Fue una
                experiencia gratificante donde pude demostrar mi pasión por la tecnología y presentarme al mundo de una
                manera única.</p>
        </div>
        <div class="col-sm-12 col-md-3
        col-lg-3
        offset-md-1 offset-lg-1">
            <img src="../../../assets/Proyecto.PNG" class="img-fluid img-proyecto">
        </div>
    </div>
</div>