<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotodeperfil.jpeg" class="img-fluid" id="perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre"> Federico Gonzalez </p>
        <p id="conocimiento">Full Stack developer Jr</p>

    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de Mi</h1>
            <p>Soy una persona creativa y curiosa. Siempre busco nuevas formas de aprender y explorar el mundo que me
                rodea. Tengo una pasión por el conocimiento y disfruto de desafiar mis habilidades intelectuales. Tengo
                una actitud positiva y estoy dispuesto/a a asumir nuevos retos. Soy amigable y me gusta compartir mis
                experiencias y conocimientos con los demás. Mi espíritu aventurero me impulsa a descubrir nuevas ideas y
                perspectivas. Sigo mis propias metas y me esfuerzo por alcanzar mis sueños. Mi determinación y
                perseverancia me ayudan a superar obstáculos y convertirlos en oportunidades.</p>
        </span>
    </div>
</div>